@{
    ViewData["Title"] = "Contacto";
}
<section class="container" style="padding-top: 5rem;">
    <h3 style="text-align:center;">Contáctanos</h3>
    <div class="container details-contacto">
        <div>
            Dirección<br>
            <hr>
            Calle falsa 123
        </div>
        <div>
            WhatsApp <br>
            <hr>
            +51 987 654 321
        </div>
        <div>
            E-mail <br>
            <hr>
            baldoceda&sotelo@gmail.com
        </div>
    </div>
</section>
<section class="container-mapa">
    <div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.585186177648!2d-76.94465262502244!3d-12.07203653816677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c6e79034dc63%3A0x362c2308780e5dcb!2sAv.%20la%20Fontana%201250%2C%20Lima%2015024!5e0!3m2!1ses-419!2spe!4v1685111747421!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<section class="container formulario">
    <div class="info-contacto">
        <h3>Información de contacto</h3><br>
        <label class="tit-frm">Nombre Completo</label><br>
        <input type="text" name="nombres"><br>
        <label class="tit-frm">Compañía o entidad</label><br>
        <input type="text" name="apellidos"><br>
        <label class="tit-frm">E-mail</label><br>
        <input type="text" name="email"><br>
        <label class="tit-frm">Telefono</label><br>
        <input type="number" name="telefono"><br>
        <label class="tit-frm">Dirección Fisica</label><br>
        <input type="text" name="direccion"><br><br><br>
    </div>

    <div id="container category">
        <h3>Tipo de proyecto</h3>
        <div class="checkbox-group2">
        <label>
            <input type="checkbox" name="option1" value="1">
            <span class="checkmark"></span>
            Autopistas de peajes
        </label>
        <label>
            <input type="checkbox" name="option1" value="2">
            <span class="checkmark"></span>
            Carreteras nacionales
        </label>
        <label>
            <input type="checkbox" name="option1" value="3">
            <span class="checkmark"></span>
            Carreteras rurales
        </label>
        <label>
            <input type="checkbox" name="option1" value="4">
            <span class="checkmark"></span>
            Carreteras urbanas
        </label>
        <br><br><br>
        </div>
    </div>
    <h3>Detalles del proyecto</h3><br>
        <label class="tit-frm">Ubicación exacta del proyecto</label><br>
        <input type="text" name="ubicacion">
        <label class="tit-frm">Longitud total en kilómetros</label><br>
        <input type="number" name="longitud">
        <label class="tit-frm">Cantidad de carriles</label><br>
        <input type="number" name="qcarriles"><br>
        <label class="tit-frm">Velocidad máxima deseada</label><br>
        <input type="number" name="velocidad">
        <label>Estimación del tráfico diario promedio (VPD)</label>
        <input type="number" name="vpd">
        <div class="fechas">
            <div class="col">
                <label class="tit-frm">Fecha inicio</label>
                <input type="date" name="fechaInicio">
            </div>
            <div class="col">
                <label class="tit-frm">Fecha límite</label>
                <input type="date" name="fechaLimite">
            </div>
        </div><br><br><br>
    <h3>Requisitos técnicos</h3>
        <label class="tit-frm">Diseño de intercambiadores</label>
        <div class="tipo_i">
            Tipo diamante: 
            <input type="number" name="i_diamante">
            Tipo trebol: 
            <input type="number" name="i_trebol">
            Tipo tunel: 
            <input type="number" name="i_tunel">
            Tipo empalme:
            <input type="number" name="i_empal">
        </div>
        <label class="tit-frm">Requerimiento de iluminación y Señalización</label>
        <div class="checkbox-group">
        <label>
            <input type="checkbox" name="option1" value="1">
            <span class="checkmark"></span>
            Sí
        </label>
        <label>
            <input type="checkbox" name="option2" value="2">
            <span class="checkmark"></span>
            No
        </label>
        </div>

    <h3>Presupuesto y financiamiento</h3>
    <label class="tit-frm">Presupuesto estimado para el proyecto</label>
    <input type="number" name="presupuesto">
    <label class="tit-frm">Fuente de financiamiento</label>
    <div class="checkbox-group3">
        <label>
            <input type="checkbox" name="option1" value="1">
            <span class="checkmark"></span>
            Fondos propios
        </label>
        <label>
            <input type="checkbox" name="option2" value="2">
            <span class="checkmark"></span>
            Préstamo bancario
        </label>
    </div>
    <label class="tit-frm">Disponibilidad para una visita en persona y discución adicional</label>
    <div class="checkbox-group">
        <label>
            <input type="checkbox" name="option1" value="1">
            <span class="checkmark"></span>
            Sí
        </label>
        <label>
            <input type="checkbox" name="option2" value="2">
            <span class="checkmark"></span>
            No
        </label>
    </div><br><br><br>
    <div class="container-button">
        <button class="btn-form">Enviar solicitud</button>
    </div>
    

</section>
