@{
    ViewData["Title"] = "Contacto";
}
<section class="container formulario">
    <div class="info-contacto">
        <h2>Información de contacto</h2><br>
        <label class="tit-frm">Nombres</label><br>
        <input type="text" name="nombres"><br>
        <label class="tit-frm">Apellidos</label><br>
        <input type="text" name="apellidos"><br>
        <label class="tit-frm">E-mail</label><br>
        <input type="text" name="email"><br>
        <label class="tit-frm">Telefono</label><br>
        <input type="number" name="telefono"><br>
        <label class="tit-frm">Dirección Fisica</label><br>
        <input type="text" name="direccion"><br><br><br>
    </div>

    <div id="container category">
        <h2>Tipo de proyecto</h2>
        <select name="category" id="category-select">
            <option value="0"></option>
            <option value="1">Casas</option>
            <option value="2">Carreteras</option>
            <option value="3">Edificios</option>
            <option value="4">Puentes</option>
        </select><br><br><br>
    </div>
    <div id="casas-form" class="form-section">
        <h2>Detalles del proyecto</h2><br>
        <label class="tit-frm">Tipo de proyecto</label><br>
        <div class="checkbox-group">
        <label>
            <input type="checkbox" name="option1" value="1">
            <span class="checkmark"></span>
            Residencial
        </label>
        <label>
            <input type="checkbox" name="option2" value="2">
            <span class="checkmark"></span>
            Comercial
        </label>
        <label>
            <input type="checkbox" name="option3" value="3">
            <span class="checkmark"></span>
            Remodelación
        </label>
        </div>
        <label class="tit-frm">Ubicación del proyecto</label><br>
        <input type="text" name="direccionProy">
        <label class="tit-frm">Tamaño del proyecto en m<sup>2</sup></label><br>
        <input type="number" name="tamaño"><br>
        <label class="tit-frm">Descripcion breve del proyecto</label><br>
        <textarea name="descripcion"></textarea>
        <div class="fechas">
            <div class="col">
                <label class="tit-frm">Fecha inicio</label>
                <input type="date" name="fechaInicio">
            </div>
            <div class="col">
                <label class="tit-frm">Fecha límite</label>
                <input type="date" name="fechaLimite">
            </div>
        </div><br><br><br>
        <h2>Características y servicios requeridos</h2>
        <label class="tit-frm">Número de habitaciones / espacios</label>
        <input type="number" name="qespacios">
        <label class="tit-frm">Número de baños</label>
        <input type="number" name="qbaños">
        <label class="tit-frm">Garaje o estacionamiento</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Sí
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                No
            </label>
        </div>
        <label class="tit-frm">Áreas exteriores</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Jardín
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Patio
            </label>
            <label>
                <input type="checkbox" name="option3" value="3">
                <span class="checkmark"></span>
                Piscina
            </label>
        </div>
        <label class="tit-frm">Servicios adicionales</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Electricidad
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Fontanería
            </label>
            <label>
                <input type="checkbox" name="option3" value="3">
                <span class="checkmark"></span>
                Climatización
            </label>
        </div>
    </div>
    @* carreteras *@
    <div id="carreteras-form" class="form-section">
        <h2>Detalles del proyecto</h2><br>
        <label class="tit-frm">Ubicación del proyecto</label><br>
        <input type="text" name="direccionProy">
        <label class="tit-frm">Longitud aproximada de la carretera en kilometros<sup>2</sup></label><br>
        <input type="number" name="tamaño"><br>
        <label class="tit-frm">Descripcion breve del proyecto</label><br>
        <textarea name="descripcion"></textarea>
        <div class="fechas">
            <div class="col">
                <label class="tit-frm">Fecha inicio</label>
                <input type="date" name="fechaInicio">
            </div>
            <div class="col">
                <label class="tit-frm">Fecha límite</label>
                <input type="date" name="fechaLimite">
            </div>
        </div><br><br><br>
        <h2>Características y servicios requeridos</h2>
        <label>Tipo de carretera</label>
                <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Autopista
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Carretera rural
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Carretera urbana
            </label>
        </div>
        <label class="tit-frm">Número de carriles</label>
        <input type="number" name="carriles">
        <label class="tit-frm">Ancho</label>
        <input type="number" name="ancho">
        <label class="tit-frm">Especificaciones</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Pasos elevados
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Puentes
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Viaductos
            </label>
        </div>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Intersecciones
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Rampas
            </label>
            <label>
                <input type="checkbox" name="option3" value="3">
                <span class="checkmark"></span>
                Salidas
            </label>
        </div>
        <label class="tit-frm">Servicios adicionales</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Señalizacion
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Sistema de iluminación
            </label>
            <label>
                <input type="checkbox" name="option3" value="3">
                <span class="checkmark"></span>
                Acabados
            </label>
        </div>
    </div>
@* edificios *@
    <div id="edificios-form" class="form-section">
    <h2>Detalles del proyecto</h2><br>
        <label class="tit-frm">Ubicación del proyecto</label><br>
        <input type="text" name="direccionProy">
        <label class="tit-frm">Tipo de edificio</label><br>
       <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Residencial
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Comercial
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Industrial
            </label>
        </div>
        <label class="tit-frm">Tamaño aproximado del edificio en m<sup>2</sup></label><br>
        <input type="number" name="tamaño"><br>
        <label class="tit-frm">Descripcion breve del proyecto</label><br>
        <textarea name="descripcion"></textarea>
        <div class="fechas">
            <div class="col">
                <label class="tit-frm">Fecha inicio</label>
                <input type="date" name="fechaInicio">
            </div>
            <div class="col">
                <label class="tit-frm">Fecha límite</label>
                <input type="date" name="fechaLimite">
            </div>
        </div><br><br><br>
        <h2>Características y servicios requeridos</h2>
        <label>Número de pisos o niveles</label>
        <input type="number" name="pisos">
        <label>Distribucion de espacios</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Oficinas
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Apartamentos
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Locales comerciales
            </label>
        </div>
        <label class="tit-frm">Número de habitaciones</label>
        <input type="number" name="qespacios">
        <label class="tit-frm">Número de baños</label>
        <input type="number" name="qbaños">
        <label>Otras áreas requeridas</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Garaje
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Jardin
            </label>
            <label>
                <input type="checkbox" name="option3" value="3">
                <span class="checkmark"></span>
                Piscina
            </label>
        </div>
        <label class="tit-frm">Características especiales del edificio</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Ascensores
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Sistemas de climatización
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Sistemas de seguridad
            </label>
        </div>
        <label class="tit-frm">Servicios adicionales</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Servicio de electricidad
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Fontaneria
            </label>
            <label>
                <input type="checkbox" name="option3" value="3">
                <span class="checkmark"></span>
                Mantenimiento
            </label>
        </div>
    </div>
@* puentes *@
    <div id="puentes-form" class="form-section">
        <h2>Detalles del proyecto</h2><br>
        <label class="tit-frm">Ubicación del proyecto</label><br>
        <input type="text" name="direccionProy">
        <label>Tipo de puente</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Puente peatonal
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Puente vehicular
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Puente ferroviario
            </label>
        </div>
        <label class="tit-frm">Longitud aproximada del puente en metros</label><br>
        <input type="number" name="tamaño"><br>
        <label class="tit-frm">Descripcion breve del proyecto</label><br>
        <textarea name="descripcion"></textarea>
        <div class="fechas">
            <div class="col">
                <label class="tit-frm">Fecha inicio</label>
                <input type="date" name="fechaInicio">
            </div>
            <div class="col">
                <label class="tit-frm">Fecha límite</label>
                <input type="date" name="fechaLimite">
            </div>
        </div><br><br><br>
        <h2>Características y servicios requeridos</h2>
        <label>Tipo de estructura del puente</label>
                <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Arco
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Viga
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Suspención
            </label>
        </div>
        <label class="tit-frm">Capacidad de carga requerida</label>
        <input type="number" name="carga">
        <label class="tit-frm">Ancho</label>
        <input type="number" name="ancho">
        <label class="tit-frm">Altura</label>
        <input type="number" name="altura">
        <label>Número de carriles o espacio peatonal</label>
        <input type="number" name="espacio">
        <label class="tit-frm">Especificaciones</label>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="option1" value="1">
                <span class="checkmark"></span>
                Sistema de iluminación
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Señalización
            </label>
            <label>
                <input type="checkbox" name="option2" value="2">
                <span class="checkmark"></span>
                Consideraciones geotécnicas o hidraulicas
            </label>
        </div>
    </div>

    @* fin de las condiciones *@
    <h2>Presupuesto y financiamiento</h2>
    <label class="tit-frm">Presupuesto estimado para el proyecto</label>
    <input type="number" name="presupuesto">
    <label class="tit-frm">Fuente de financiamiento</label>
    <div class="checkbox-group">
        <label>
            <input type="checkbox" name="option1" value="1">
            <span class="checkmark"></span>
            Fondos propios
        </label>
        <label>
            <input type="checkbox" name="option2" value="2">
            <span class="checkmark"></span>
            Préstamo bancario
        </label>
    </div>
    <label class="tit-frm">Disponibilidad para una visita en persona y discución adicional</label>
    <div class="checkbox-group">
        <label>
            <input type="checkbox" name="option1" value="1">
            <span class="checkmark"></span>
            Sí
        </label>
        <label>
            <input type="checkbox" name="option2" value="2">
            <span class="checkmark"></span>
            No
        </label>
    </div><br><br><br>
    <h2>Requisitos especiales</h2>
    <textarea name="requisitos"></textarea><br><br><br>
    <div class="container-button">
        <button class="btn btn-form">Enviar formulario</button>
    </div>
    

</section>
