@{
    ViewData["Title"] = "Galeria";
}
<section class="container mt-5">
      <h2>Casas</h2>
      <div class="galery">
        <div class="image">
          <img src="~/img/imagen_1.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_2.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_3.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_4.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_5.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_6.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_7.jpg" alt="imagen galeria" />
        </div>
      </div>
</section>
<section class="container mt-5">
      <h2>Edificios</h2>
      <div class="galery">
        <div class="image">
          <img src="~/img/imagen_8.jpeg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_9.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_10.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_11.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_12.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_13.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_14.jpg" alt="imagen galeria" />
        </div>
      </div>
</section>
<section class="container mt-5">
      <h2>Carreteras</h2>
      <div class="galery">
        <div class="image">
          <img src="~/img/imagen_15.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_16.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_17.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_18.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_19.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_20.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_21.jpg" alt="imagen galeria" />
        </div>
      </div>
</section>
<section class="container mt-5">
      <h2>Puentes</h2>
      <div class="galery">
        <div class="image">
          <img src="~/img/imagen_23.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_24.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_25.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_26.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_27.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_28.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_29.jpg" alt="imagen galeria" />
        </div>
      </div>
</section><br><br><br>
