@{
    ViewData["Title"] = "Galeria";
}
<section class="container mt-5">
      <h2>Autopistas de peaje</h2>
      <div class="galery">
        <div class="image">
          <img src="~/img/imagen_4.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_2.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_3.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_1.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_5.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_6.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_7.png" alt="imagen galeria" />
        </div>
      </div>
</section>
<section class="container mt-5">
      <h2>Carreteras nacionales</h2>
      <div class="galery">
        <div class="image">
          <img src="~/img/imagen_8.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_9.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_10.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_11.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_12.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_13.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_14.png" alt="imagen galeria" />
        </div>
      </div>
</section>
<section class="container mt-5">
      <h2>Carreteras rurales</h2>
      <div class="galery">
        <div class="image">
          <img src="~/img/imagen_15.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_16.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_17.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_18.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_19.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_20.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="~/img/imagen_21.png" alt="imagen galeria" />
        </div>
      </div>
</section>
<section class="container mt-5">
      <h2>Carreteras urbanas</h2>
      <div class="galery">
        <div class="image">
          <img src="~/img/imagen_23.png" alt="imagen galeria" />
        </div>
        <div class="image">
          <img src="~/img/imagen_28.png" alt="imagen galeria" />
        </div>
        <div class="image">
          <img src="~/img/imagen_26.jpg" alt="imagen galeria" />
        </div>
        <div class="image">
          <img src="~/img/imagen_27.png" alt="imagen galeria" />
        </div>
        <div class="image">
          <img src="~/img/imagen_29.png" alt="imagen galeria" />
        </div>
        <div class="image">
          <img src="~/img/imagen_9.png" alt="imagen galeria" />
        </div>
        <div class="image">
          <img src="~/img/imagen_22.png" alt="imagen galeria" />
        </div>


      </div>
</section><br><br><br>
