@{
    ViewData["Title"] = "Home Page";
}
<section class="container mt-5 about">
      <div class="content-about">
        <h2>Construyendo sueños, edificando el futuro</h2>

        <p>
          Bienvenidos a Baldoceda & Sotelo, tu socio confiable en diseño y construcción.
           Nos enorgullece ofrecerte soluciones personalizadas y de calidad que superan tus expectativas. Con nuestra experiencia, 
           compromiso y pasión por la excelencia, transformamos tus ideas en realidades tangibles. Descubre cómo nuestra innovación y 
           profesionalismo se unen para construir el proyecto de tus sueños. ¡Embárcate en este 
           viaje con nosotros y construyamos juntos un futuro brillante!
        </p>

      </div>
</section>

    <main class="container mt-5">
      <h2>Conoce nuestros modelos</h2>
      <div class="model basic">
        <div class="container-model">
          <h3>Autopistas de peajes</h3>
          <p>
            Nos especializamos en la construcción de modernas autopistas de peaje. Nuestro equipo altamente capacitado y con 
            experiencia utiliza técnicas de vanguardia para crear carreteras de alta capacidad, permitiendo un flujo de tráfico 
            fluido y un transporte eficiente. Confíe en nosotros para desarrollar proyectos viales que impulsen el crecimiento y 
            conectividad de su región.
          </p>

          <a href="#" class="btn"> más información </a>
        </div>
      </div>

      <div class="model premier">
        <div class="container-model">
          <h3>Carreteras nacionales</h3>
          <p>
            Nos destacamos en la construcción de carreteras nacionales y secundarias de primera calidad. Nuestro enfoque experto 
            abarca desde el diseño hasta la implementación, creando vías seguras y eficientes que conectan ciudades y regiones. 
            Con nuestra experiencia y atención a los detalles, construimos carreteras que promueven la movilidad y el desarrollo 
            económico en todo el país.
          </p>

          <a href="#" class="btn"> más información </a>
        </div>
      </div>

      <div class="model elite">
        <div class="container-model">
          <h3>Carreteras rurales</h3>
          <p>
            Nos especializamos en la construcción de carreteras rurales confiables y duraderas. Nuestro equipo experimentado trabaja 
            en estrecha colaboración con las comunidades locales para desarrollar vías que conecten de manera segura y eficiente áreas 
            rurales y agrícolas. Utilizamos tecnologías y materiales de última generación para garantizar la resistencia a las 
            condiciones climáticas y brindar una infraestructura vial de calidad. Confíe en nosotros para crear carreteras rurales que 
            mejoren la accesibilidad, promuevan el desarrollo local y faciliten el transporte de mercancías y servicios.
            </p>

          <a href="#" class="btn"> más información </a>
        </div>
      </div>
      <div class="model premier2">
        <div class="container-model">
          <h3>Carreteras Urbanas</h3>
          <p>
            Nos especializamos en la construcción de carreteras urbanas eficientes y seguras. Nuestro enfoque se centra en la 
            planificación inteligente y el diseño innovador para maximizar el flujo de tráfico y mejorar la movilidad en áreas urbanas. 
            Con atención meticulosa a los detalles, construimos calles y avenidas que integran aceras amplias, carriles exclusivos para 
            transporte público y soluciones de drenaje sostenibles. Confíe en nosotros para desarrollar carreteras urbanas que mejoren 
            la calidad de vida de los residentes, fomenten la actividad económica y promuevan un entorno urbano más sostenible.
          </p>

          <a href="#" class="btn"> más información </a>
        </div>
      </div>
      
    </main>

    <section class="container mt-5">
      <h2>Galería</h2>
      <div class="galery">
        <div class="image">
          <img src="img/imagen_29.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_28.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_4.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_7.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_12.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_13.png" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_10.png" alt="imagen galeria" />
        </div>
      </div>
    </section>
