@{
    ViewData["Title"] = "Home Page";
}
<section class="container mt-5 about">
      <div class="content-about">
        <h2>Construyendo sueños, edificando el futuro</h2>

        <p>
          Bienvenidos a Baldoceda & Sotelo, tu socio confiable en diseño y construcción.
           Nos enorgullece ofrecerte soluciones personalizadas y de calidad que superan tus expectativas. Con nuestra experiencia, 
           compromiso y pasión por la excelencia, transformamos tus ideas en realidades tangibles. Descubre cómo nuestra innovación y 
           profesionalismo se unen para construir tu hogar, el proyecto de tus sueños. ¡Embárcate en este 
           viaje con nosotros y construyamos juntos un futuro brillante!
        </p>

      </div>
</section>

    <main class="container mt-5">
      <h2>Conoce nuestras especialidades</h2>
      <div class="model basic">
        <div class="container-model">
          <h3>Casas</h3>
          <p>
            Creamos hogares de ensueño en armonia con la naturaleza. Descubre nuestras casas exclusivas,
            donde el diseño innovador y los detalles cuidadosamente seleccionados se unen para crear un refugio perfecto para ti 
            y tu familia. ¡Ven y construye tu hogar ideal con nosotros!
          </p>

          <a href="#" class="btn"> más información </a>
        </div>
      </div>

      <div class="model premier">
        <div class="container-model">
          <h3>Edificios</h3>
          <p>
            Creamos edificios emblemáticos en el corazón de la ciudad. Diseñados con estilo y funcionalidad en mente, 
            nuestros proyectos urbanos ofrecen una experiencia de vida moderna y sofisticada. Desde apartamentos de lujo 
            hasta espacios comerciales de vanguardia, cada edificio refleja nuestro compromiso con la calidad y la excelencia. 
            Descubre la elegancia urbana con nosotros y encuentra tu nuevo hogar o lugar de negocio en la ciudad.
          </p>

          <a href="#" class="btn"> más información </a>
        </div>
      </div>

      <div class="model elite">
        <div class="container-model">
          <h3>Puentes</h3>
          <p>
            Somos expertos en la construcción de puentes impresionantes y duraderos. Nuestro enfoque en la excelencia y la 
            calidad nos permite diseñar y construir puentes que superan barreras y conectan comunidades. Confía en nosotros 
            para crear puentes funcionales y seguros que sean un testimonio de ingeniería y belleza.
          </p>

          <a href="#" class="btn"> más información </a>
        </div>
      </div>
      <div class="model premier2">
        <div class="container-model">
          <h3>Carreteras</h3>
          <p>
            Expertos en la construcción de carreteras de calidad y duraderas. Nuestro compromiso es brindar infraestructuras 
            viales seguras y eficientes que conecten comunidades y impulsen el desarrollo. Con un enfoque en la calidad de los 
            materiales, la planificación meticulosa y la ejecución precisa, construimos carreteras que resisten el paso del tiempo 
            y mejoran la experiencia de conducción. Confía en nosotros para crear carreteras confiables que faciliten la movilidad y fomenten el progreso.
          </p>

          <a href="#" class="btn"> más información </a>
        </div>
      </div>
      
    </main>

    <section class="container mt-5">
      <h2>Galería</h2>
      <div class="galery">
        <div class="image">
          <img src="img/imagen_29.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_20.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_4.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_7.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_12.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_13.jpg" alt="imagen galeria" />
        </div>

        <div class="image">
          <img src="img/imagen_10.jpg" alt="imagen galeria" />
        </div>
      </div>
    </section>
