@{
    ViewData["Title"] = "Privacy Policy";
}
<section>
  <div class="mision-vision">
    <div>
      <h3>Misión</h3>
      <p>
        Ser líderes en el rubro de consultoría y construcción de obras civiles y metalmecánica, ofreciendo servicios de alta 
        calidad y valor agregado a nuestros clientes. Nos esforzamos por desarrollar proyectos de ingeniería responsables y 
        eficientes, manteniendo la coherencia entre los aspectos técnicos, económicos, sociales y ambientales
      </p>
    </div>
    <div>
      <h3>Vision</h3>
      <p>
        Promovernos como una empresa reconocida a nivel nacional e internacional, destacando por nuestra excelencia 
        en la prestación de servicios de consultoría y construcción de obras civiles y metalmecánica
      </p>
    </div>
  </div>
</section>
<main class="container mt-5">
      <div class="nosotros text1">
        <div class="container-nosotros">
            <p>
                Bienvenido a Baldoceda & Sotelo. 
                Somos una empresa líder en el diseño y construcción de carreteras de alta calidad y durabilidad. 
                Nos especializamos en la creación de infraestructuras viales seguras y eficientes que conectan ciudades, 
                comunidades y regiones.
                Nuestro equipo de profesionales altamente capacitados y experimentados trabaja de la mano con nuestros clientes 
                para ofrecer soluciones personalizadas y adaptadas a sus necesidades. Desde carreteras nacionales y autopistas 
                de peaje hasta carreteras rurales y urbanas, nos comprometemos a entregar proyectos de construcción de alta calidad 
                en tiempo y presupuesto.
            </p>
        </div>
      </div>

      <div class="nosotros text2">
        <div class="container-nosotros">

            <p>
                En cada proyecto, nos esforzamos por utilizar los mejores materiales y técnicas de construcción para garantizar 
                la durabilidad y resistencia de nuestras carreteras. Además, nos enfocamos en la implementación de tecnologías 
                innovadoras y sostenibles que minimicen el impacto ambiental y mejoren la eficiencia de nuestras obras.
                Nuestra empresa se rige por los más altos estándares de calidad, seguridad y cumplimiento normativo. Estamos 
                comprometidos con la excelencia en la ejecución de nuestros proyectos y nos enorgullece la satisfacción de nuestros 
                clientes.
            </p>

        </div>
      </div>

      <div class="nosotros text3">
        <div class="container-nosotros">
            <p>
                Explore nuestra página web para conocer más sobre nuestros proyectos anteriores, servicios y valores fundamentales. 
                Si está buscando una constructora confiable y dedicada para su proyecto de carretera, ¡estamos aquí para ayudarlo 
                a convertir su visión en realidad!
                ¡Contáctenos hoy mismo para comenzar a trabajar juntos en su próximo proyecto de construcción vial!
            </p>

        </div>
      </div>

</main>

