@{
    ViewData["Title"] = "Privacy Policy";
}
<main class="container mt-5">
      <div class="nosotros text1">
        <div class="container-nosotros">
            <p>
                Bienvenidos a Baldoceda & Sotelo, especialistas en la construcción de casas en el bosque.
                Nos apasiona crear hogares que se fusionen armoniosamente con la naturaleza, brindando a nuestros 
                clientes la oportunidad de vivir en entornos serenos y rodeados de belleza natural. Nuestra empresa
                se enorgullece de ofrecer diseños únicos y personalizados que respetan el entorno natural y resaltan 
                la conexión entre el interior y el exterior.
            </p>
        </div>
      </div>

      <div class="nosotros text2">
        <div class="container-nosotros">

            <p>
                En Baldoceda & Sotelo, contamos con un equipo de profesionales altamente capacitados y con 
                amplia experiencia en la construcción en entornos boscosos. Nuestra atención meticulosa a los detalles
                y nuestro compromiso con la calidad se reflejan en cada proyecto que llevamos a cabo. Trabajamos estrechamente 
                con nuestros clientes para entender sus necesidades y deseos, y transformamos esas ideas en hermosas realidades arquitectónicas.
            </p>

        </div>
      </div>

      <div class="nosotros text3">
        <div class="container-nosotros">
            <p>
                Nuestro enfoque se basa en la utilización de materiales sostenibles y técnicas de construcción ecoamigables. 
                Nos esforzamos por minimizar el impacto ambiental de nuestras construcciones y preservar la belleza natural 
                de los bosques en los que trabajamos. Además, colaboramos con arquitectos paisajistas y expertos en medio 
                ambiente para asegurarnos de que cada proyecto sea respetuoso con la flora y fauna autóctona.
            </p>

        </div>
      </div>

      <div class="nosotros text4">
        <div class="container-nosotros">
            <p>
                En Baldoceda & Sotelo, entendemos que cada hogar es único y personal. Por eso, nos comprometemos a brindar 
                un servicio personalizado y atención individualizada a cada uno de nuestros clientes. Nos enorgullece construir 
                no solo casas, sino también relaciones duraderas basadas en la confianza, la comunicación abierta y la satisfacción del cliente.
            </p>

        </div>
      </div>
      <div class="nosotros text5">
        <div class="container-nosotros">
            <p>
                Explora nuestro portafolio de proyectos en nuestra página web y descubre cómo nuestras casas en el bosque han 
            dado vida a los sueños de nuestros clientes. Estamos emocionados de ser parte de tu viaje hacia un hogar en 
            medio de la naturaleza. Contáctanos hoy mismo y permítenos hacer realidad tu visión de una casa perfecta en el bosque.
            </p>

        </div>
      </div>
    </main>

