@{
    ViewData["Title"] = "Vista Administrador";
}
<section class="container-buscador">

</section>
<section class="container-acordeon">
    <div class="grid">
        <a href="#" class="grid__item">Solicitud 00001</a>
        <div class="grid__description">
            <div class="detalle">
                <div>
                    Cliente: Nikole La Cunza Cabrera <br>
                    E-mail: lacunzanikole@gmail.com <br>
                    Telefono: +51 987 654 321 <br>
                    Tipo de proyecto: Casa <br>
                    Presupuesto: $1 000 000 <br>
                    Proyecto en curso: SI<br>
                </div>
                <div>
                    <button>detalles</button>
                </div>
                
            </div>
        </div>
        <a href="#" class="grid__item">Solicitud 00002</a>
        <div class="grid__description">
            <div>
                Cliente: Municipalidad La Molina <br>
                E-mail: munimolina@gob.pe <br>
                Telefono: +51 987 654 321 <br>
                Tipo de proyecto: Puente <br>
                Presupuesto: $10 080 000 <br>
                Proyecto en curso: NO
            </div>
        </div>
        <a href="#" class="grid__item">Solicitud 00003</a>
        <div class="grid__description">
            <div>
                Cliente: Hotel Cortez<br>
                E-mail: hotelcortez@gmail.com <br>
                Telefono: +51 987 654 321 <br>
                Tipo de proyecto: Edificio <br>
                Presupuesto: $13 897 000 <br>
                Proyecto en curso: SI<br>
            </div>
        </div>
        <a href="#" class="grid__item">Solicitud 00004</a>
        <div class="grid__description">
            <div>
                Cliente: Servosa Gas SAC <br>
                E-mail: administracion@servosa.pe <br>
                Telefono: +51 987 654 321 <br>
                Tipo de proyecto: Edificio <br>
                Presupuesto: $100 000 000 <br>
                Proyecto en curso: No<br>
            </div>
        </div>
        <a href="#" class="grid__item">Solicitud 00005</a>
        <div class="grid__description">
            <div>
                Cliente: Gobierno central <br>
                E-mail: carreteras@gob.pe <br>
                Telefono: +51 987 654 321 <br>
                Tipo de proyecto: Carretera <br>
                Presupuesto: $150 000 000 <br>
                Proyecto en curso: SI<br>
            </div>
        </div>
    </div>
</section>